header {
  background-color: yellow;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  width: 30%;
  background-color: olive;
  height: 300px;
}
content {
  width: 70%;
  background-color: blueviolet;
  height: 300px;
}
footer {
  background-color: aqua;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
