header {
  background-color: green;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: bisque;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 10px;
}
nav div {
  width: 20%;
  background-color: red;
}
nav div a {
  display: flex;
  width: 100%;
  height: 100%;

  letter-spacing: 10px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: underline;
}
section {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 20px;
  margin: 10px;
}

section home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.intro-title {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: blue;
  justify-content: center;
  align-items: center;
}
.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  gap: 20px;
}
.intro-inside {
  background-color: green;
  display: flex;
  width: 50%;
  margin-top: 10px;
  padding-left: 10px;
  align-items: center;
}
.intro-photo {
  display: flex;
  width: 50%;
  align-items: center;
  margin-top: 10px;
}
.intro-photo img {
  width: 100%;
}
.intro-sebu {
  background-color: brown;
  display: flex;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: red;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
