header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h2 {
  font-size: 60px;
}
nav {
  border: solid;
  border-radius: 30px;
  background-color: bisque;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
}
nav div {
  width: 20%;
}
nav div a {
  display: flex;
  width: 100%;
  height: 100%;

  letter-spacing: 10px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: underline;
}
section {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 10px;
}
section iframe {
  border: none;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
section home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.intro-title {
  border: solid;
  border-radius: 30px;
  display: flex;
  width: 100%;
  height: auto;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.intro-inside {
  border: solid;
  border-radius: 30px;
  background-color: rgb(172, 255, 209);
  display: flex;
  width: 60%;
  margin-top: 10px;
  padding: 20px;
  align-items: center;
  font-size: 25px;
}
.intro-photo {
  display: flex;
  width: auto;
  align-items: center;
  margin-top: 10px;
}
.intro-photo img {
  border-radius: 30px;
  width: 100%;
}
.study-title {
  background-color: aquamarine;
  border: 3px solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
.study {
  border: 3px solid;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.study th,
.study td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.study th {
  background-color: greenyellow;
  border-bottom: 3px solid;
  font-weight: bold;
}
.study td {
  background-color: rgb(228, 255, 186);
}
footer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
